# common scala config
*~
.DS_Store
.artifactory
.idea/*
.ensime_cache/*
.config/*
.ensime
tags
!/.idea/inspectionProfiles/
.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml
target

# custom config
cromwell-executions
cromwell-test-executions
cromwell-test-workflow-logs
cromwell-workflow-logs
local-cromwell-executions
log
native
scripts/docker-compose-mysql/compose/mysql/data
