# This file can always be added to, line additions should never collide.
CHANGELOG.MD merge=union

# These files are text and should be normalized (Convert crlf => lf)
*.scala text
*.MD text
*.java text
*.html text
