sudo: required
dist: trusty
group: deprecated-2017Q4
services:
  - docker
  - mysql
language: scala
scala:
  - 2.12.4
jdk:
  - oraclejdk8
cache:
  # md5deep - https://github.com/travis-ci/travis-ci/issues/3122
  branch: md5deep
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.coursier/cache
    - $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
before_install:
  # https://github.com/travis-ci/travis-ci/issues/7940#issuecomment-310759657
  - sudo rm -f /etc/boto.cfg
  - mysql -u root -e "SET GLOBAL sql_mode = 'STRICT_ALL_TABLES';"
  - mysql -u root -e "CREATE DATABASE IF NOT EXISTS cromwell_test;"
env:
  global:
    - INTEGRATION_TESTS_DIR=centaur/src/main/resources/integrationTestCases
  matrix:
    # Setting this variable twice will cause the 'script' section to run twice with the respective env var invoked
    - BUILD_TYPE=sbt
    - BUILD_TYPE=checkPublish
    - BUILD_TYPE=centaurJes
    - BUILD_TYPE=centaurLocal
    - BUILD_TYPE=centaurTes
    - BUILD_TYPE=centaurCwlConformance
script:
  - sudo apt-get install procps
  - pip install 'requests[security]'
  - sudo pip install --ignore-installed cwltool
  - src/bin/travis/test.sh
after_success:
  - src/bin/travis/afterSuccess.sh
deploy:
  provider: script
  script: src/bin/travis/publishRelease.sh
  on:
    tags: true
notifications:
  slack:
    rooms:
      - secure: B5KYcnhk/ujAUWlHsjzP7ROLm6MtYhaGikdYf6JYINovhMbVKnZCTlZEy7rqT3L2T5uJ25iefD500VQGk1Gn7puQ1sNq50wqjzQaj20PWEiBwoWalcV/nKBcQx1TyFT13LJv8fbFnVPxFCkC3YXoHedx8qAhDs8GH/tT5J8XOC8=
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration}"
    on_success: change
    on_failure: change
    on_pull_requests: false
