sudo: required
dist: xenial
services:
  - docker
language: scala
scala:
  - 2.12.9
git:
  depth: false
jdk:
  - openjdk8
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.coursier/cache
    # see cromwell::private::delete_sbt_boot for more info
    #- $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.coursier/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt -name "*.lock" -print -delete
env:
  global:
    - PYTHON3_HOME=/opt/python/3.7.1
    - PATH=$PYTHON3_HOME/bin\:$PATH
  matrix:
    # Setting this variable twice will cause the 'script' section to run twice with the respective env var invoked
    - >-
      BUILD_TYPE=centaurAws
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurBcs
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurEngineUpgradeLocal
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurEngineUpgradePapiV2alpha1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurHoricromtalPapiV2alpha1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurHoricromtalPapiV2beta
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurHoricromtalPapiV2beta
      BUILD_MARIADB=10.3
    - >-
      BUILD_TYPE=centaurHoricromtalEngineUpgradePapiV2alpha1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurHoricromtalEngineUpgradePapiV2alpha1
      BUILD_MARIADB=10.3
    - >-
      BUILD_TYPE=centaurPapiUpgradePapiV1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurPapiUpgradeNewWorkflowsPapiV1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurPapiUpgradePapiV2alpha1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurPapiUpgradeNewWorkflowsPapiV2alpha1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurLocal
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurLocal
      BUILD_POSTGRESQL=11.3
    - >-
      BUILD_TYPE=centaurPapiV1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurPapiV2alpha1
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurPapiV2beta
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurSlurm
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurTes
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=centaurWdlUpgradeLocal
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=checkPublish
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=conformanceLocal
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=conformancePapiV2beta
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=conformanceTesk
      BUILD_MYSQL=5.7
    - >-
      BUILD_TYPE=horicromtalDeadlock
    - >-
      BUILD_TYPE=dockerScripts
    - >-
      BUILD_TYPE=sbt
    - >-
      BUILD_TYPE=dbms
    - >-
      BUILD_TYPE=singleWorkflowRunner
    - >-
      BUILD_TYPE=metadataComparisonPython
    - >-
      BUILD_TYPE=referenceDiskManifestBuilderApp
script:
  - src/ci/bin/test.sh
notifications:
  slack:
    rooms:
      - secure: B5KYcnhk/ujAUWlHsjzP7ROLm6MtYhaGikdYf6JYINovhMbVKnZCTlZEy7rqT3L2T5uJ25iefD500VQGk1Gn7puQ1sNq50wqjzQaj20PWEiBwoWalcV/nKBcQx1TyFT13LJv8fbFnVPxFCkC3YXoHedx8qAhDs8GH/tT5J8XOC8=
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration}"
    on_success: change
    on_failure: change
    on_pull_requests: false
