sudo: required
dist: trusty
language: scala
scala:
  - 2.11.8
jdk:
  - oraclejdk8
cache:
  # md5deep - https://github.com/travis-ci/travis-ci/issues/3122
  branch: md5deep
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
before_install:
  # https://github.com/travis-ci/travis-ci/issues/7940#issuecomment-310759657
  - sudo rm -f /etc/boto.cfg
  - openssl aes-256-cbc -K "$encrypted_5ebd3ff04788_key" -iv "$encrypted_5ebd3ff04788_iv" -in src/bin/travis/resources/jesConf.tar.enc -out jesConf.tar -d || true
env:
  global:
    - CENTAUR_BRANCH=develop
    - INTEGRATION_TESTS_DIR=src/main/resources/integrationTestCases
  matrix:
    # Setting this variable twice will cause the 'script' section to run twice with the respective env var invoked
    - BUILD_TYPE=sbt
    - BUILD_TYPE=checkPublish
    - BUILD_TYPE=centaurJes
    - BUILD_TYPE=centaurLocal
    - BUILD_TYPE=centaurTes
script:
  - src/bin/travis/test.sh
after_success:
  - src/bin/travis/afterSuccess.sh
deploy:
  provider: script
  script: src/bin/travis/publishRelease.sh
  on:
    tags: true
notifications:
  slack:
    rooms:
      - secure: B5KYcnhk/ujAUWlHsjzP7ROLm6MtYhaGikdYf6JYINovhMbVKnZCTlZEy7rqT3L2T5uJ25iefD500VQGk1Gn7puQ1sNq50wqjzQaj20PWEiBwoWalcV/nKBcQx1TyFT13LJv8fbFnVPxFCkC3YXoHedx8qAhDs8GH/tT5J8XOC8=
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration} started by %{type}"
    on_success: change
    on_failure: change
    on_pull_requests: true
