site_name: Cromwell
site_url: http://www.software.broadinstitute.org/WDL
site_description: Cromwell documentation
site_author: Red Team at Broad Institute

repo_url: https://github.com/broadinstitute/cromwell/docs

pages:
- Hello: index.md
- Getting Started: GettingHelp.md
- Requirements: Requirements.md
- Building: Building.md
- Installing: Installing.md
- Command Line Usage: CommandLine.md
- WDL: StartWDL.md
- Configuration: Configuring.md
- Security: Security.md
- Backends: 
    - Backends overview: backends/Backends.md
    - Local: backends/Local.md
    - Shared Filesystem: backends/SharedFilesystem.md
    - Google Cloud: backends/Google.md
    - GA4GH TES: backends/TES.md
    - Sun GridEngine: backends/SGE.md
    - HdCondor: backends/Hdcondor.md
    - Spark: backends/Spark.md
- Runtime Attributes: RuntimeAttributes.md
- Logging: Logging.md
- Instrumentation: Instrumentation.md
- Workflow Options: WorkflowOptions.md
- Labels: Labels.md
- Call Caching: CallCaching.md
- Imports: Imports.md
- Sub-Workflows: SubWorkflows.md
- REST API: 
    - Cromwell API: api/RESTAPI.md
    - POST /api/workflows/:version: api/POST_api_workflows_version.md
    - POST /api/workflows/:version/batch: api/POST_api_workflows_version_batch.md
    - GET /api/workflows/:version/query: api/GET_api_workflows_version_query.md
    - POST /api/workflows/:version/query: api/POST_api_workflows_version_query.md
    - PATCH /api/workflows/:version/:id/labels: api/PATCH_api_workflows_version_id_labels.md

theme: readthedocs

extra_css:
    - css/extra.css

copyright: Copyright &copy; 2017 <a href="https://broadinstitute.org">Broad Institute</a>
# google_analytics: ['identifierID', 'URL.org']