site_name: Cromwell
site_url: http://www.software.broadinstitute.org/WDL
site_description: Cromwell documentation
site_author: Red Team at Broad Institute

repo_url: https://github.com/broadinstitute/cromwell/docs

pages:
- Introduction: index.md
- Getting Started:
    - Requirements: Requirements.md
    - How to Build: Building.md
    - Installation: Installing.md
    - Modes: Modes.md
    - "Workflow Language Support": LanguageSupport.md
    - Other Resources: GettingHelp.md
    - (SOON) CWL: CWL.md
- Command Line: CommandLine.md
- Configuration: Configuring.md # Please update link in wf_options/Global.md if you change this name
- Security: Security.md
- Backends:
    - Overview: backends/Backends.md
    - Local: backends/Local.md
    - Shared Filesystem: backends/SharedFilesystem.md
    - Google Cloud: backends/Google.md
    - GA4GH TES: backends/TES.md
    - Sun GridEngine: backends/SGE.md
    - HTCondor: backends/HTcondor.md
    - Spark: backends/Spark.md
- Runtime Attributes: RuntimeAttributes.md
- Logging: Logging.md
- Instrumentation: Instrumentation.md
- Workflow Options:
  - Overview: wf_options/Overview.md
  - Google Cloud: wf_options/Google.md
- Labels: Labels.md
- Call Caching: CallCaching.md
- Imports: Imports.md
- Sub-Workflows: SubWorkflows.md
- REST API:
    - Overview: api/RESTAPI.md
    - POST /api/workflows/:version: api/POST_api_workflows_version.md
    - POST /api/workflows/:version/batch: api/POST_api_workflows_version_batch.md
    - GET /api/workflows/:version/query: api/GET_api_workflows_version_query.md
    - POST /api/workflows/:version/query: api/POST_api_workflows_version_query.md
    - PATCH /api/workflows/:version/:id/labels: api/PATCH_api_workflows_version_id_labels.md
    - GET /api/workflows/:version/:id/status: api/GET_api_workflows_version_id_status.md
    - GET /api/workflows/:version/:id/outputs: api/GET_api_workflows_version_id_outputs.md
    - GET /api/workflows/:version/:id/timing: api/GET_api_workflows_version_id_timing.md
    - GET /api/workflows/:version/:id/logs: api/GET_api_workflows_version_id_logs.md
    - GET /api/workflows/:version/:id/metadata: api/GET_api_workflows_version_id_metadata.md
    - POST /api/workflows/:version/:id/abort: api/POST_api_workflows_version_id_abort.md
    - GET /api/workflows/:version/backends: api/GET_api_workflows_version_backends.md
    - GET /api/workflows/:version/callcaching/diff: api/GET_api_workflows_version_callcaching_diff.md
    - GET /engine/:version/stats: api/GET_engine_version_stats.md
    - GET /engine/:version/version: api/GET_engine_version_version.md
    - GET /engine/:version/status: api/GET_engine_version_status.md
    - Errors: api/ErrorHandling.md

theme: readthedocs

extra_css:
    - css/extra.css

copyright: Copyright &copy; 2017 <a href="https://broadinstitute.org">Broad Institute</a>
# google_analytics: ['identifierID', 'URL.org']
