site_name: Cromwell
site_url: http://www.software.broadinstitute.org/WDL
site_description: Cromwell documentation
site_author: Red Team at Broad Institute

repo_url: https://github.com/broadinstitute/cromwell

pages:
- Welcome: index.md
- Getting Started: GettingHelp.md
- Requirements: Requirements.md
- Building: Building.md
- Installing: 
    - Installing: Installing.md
    - Migration: MIGRATION.md
- Command Line Usage: CommandLine.md
- WDL: StartWDL.md
- Configuration: Configuring.md
- Security: 
    - Security: Security.md
    - Recommendations: SecurityRecommendations.md
- Backends: Backends.md
- Runtime Attributes: RuntimeAttributes.md
- Logging: Logging.md
- Instrumentation: Instrumentation.md
- Workflow Options: WorkflowOptions.md
- Labels: Labels.md
- Call Caching: CallCaching.md
- Imports: Imports.md
- Sub-Workflows: SubWorkflows.md
- REST API: RESTAPI.md
theme: readthedocs

extra_css:
    - css/extra.css

copyright: Copyright &copy; 2017 <a href="https://broadinstitute.org">Broad Institute</a>
# google_analytics: ['identifierID', 'URL.org']

plugins:
    - search