<configuration>
  <if condition='property("LOG_MODE").toUpperCase().equals("STANDARD")'>
    <then>
      <appender name="STANDARD_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%date %thread %-5level - %msg%n</pattern>
        </encoder>
      </appender>
    </then>
    <else>
      <appender name="STANDARD_APPENDER" class="ch.qos.logback.core.helpers.NOPAppender" />
    </else>
  </if>

  <if condition='property("LOG_MODE").toUpperCase().equals("PRETTY")'>
    <then>
      <appender name="PRETTY_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
          <layout class="cromwell.logging.TerminalLayout" />
        </encoder>
      </appender>
    </then>
    <else>
      <appender name="PRETTY_APPENDER" class="ch.qos.logback.core.helpers.NOPAppender" />
    </else>
  </if>

  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>localhost:4560</destination>
    <!-- encoder is required -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <root level="${LOG_LEVEL}">
    <appender-ref ref="STANDARD_APPENDER" />
    <appender-ref ref="PRETTY_APPENDER" />
    <appender-ref ref="LOGSTASH" />
  </root>
  <logger name="com.zaxxer.hikari" level="ERROR"/>
  <logger name="HikariPool" level="ERROR"/>
</configuration>
