version: 2.1

orbs:
  slack: circleci/slack@4.2.1
  build-tools: circleci/build-tools@2.7.1

commands:
  install-adoptopenjdk:
    description: "Installing adoptopenjdk 8 and setting it as default Java"
    steps:
      - run: wget -qO - https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public | sudo apt-key add -
      - run: sudo add-apt-repository --yes https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/
      - run: sudo apt update
      - run: sudo apt install adoptopenjdk-8-hotspot
      - run: sudo update-java-alternatives --set adoptopenjdk-8-hotspot-amd64

jobs:
  test:
    machine:
      image: ubuntu-2004:202010-01
    resource_class: large
    parameters:
      branch-or-pr-build:
        description: supported values are `branch` or `pr`
        type: string
      build-type:
        type: string
      build-mysql:
        type: string
        default: ""
      build-mariadb:
        type: string
        default: ""
      build-postgresql:
        type: string
        default: ""
    steps:
      - install-adoptopenjdk
      - checkout
      - when:
          condition:
            equal: [ pr, << parameters.branch-or-pr-build >> ]
          steps:
            - build-tools/merge-with-parent
      - run:
          command: src/ci/bin/test.sh
          no_output_timeout: 1h
    environment:
      CIRCLE_COMMIT_RANGE: << pipeline.git.base_revision >>...<< pipeline.git.revision >>
      BUILD_TYPE: << parameters.build-type >>
      BUILD_MYSQL: << parameters.build-mysql >>
      BUILD_MARIADB: << parameters.build-mariadb >>
      BUILD_POSTGRESQL: << parameters.build-postgresql >>
      BUILD_BRANCH_OR_PR: << parameters.branch-or-pr-build >>

workflows:
  all-tests:
    jobs:
      - test:
          name: testSbt-<< matrix.branch-or-pr-build >>
          build-type: "sbt"
          matrix:
             parameters:
               branch-or-pr-build: [branch, pr]
      - test:
          name: testSingleWorkflowRunner-<< matrix.branch-or-pr-build >>
          build-type: "singleWorkflowRunner"
          matrix:
            parameters:
              branch-or-pr-build: [branch, pr]
      - test:
          name: testDbms-<< matrix.branch-or-pr-build >>
          build-type: "dbms"
          matrix:
            parameters:
              branch-or-pr-build: [branch, pr]
      - test:
          name: testHoricromtalDeadlock-<< matrix.branch-or-pr-build >>
          build-type: "horicromtalDeadlock"
          matrix:
            parameters:
              branch-or-pr-build: [branch, pr]
      - test:
          name: testDockerScripts-<< matrix.branch-or-pr-build >>
          build-type: "dockerScripts"
          matrix:
            parameters:
              branch-or-pr-build: [branch, pr]
      - test:
          name: testReferenceDiskManifestBuilderApp-<< matrix.branch-or-pr-build >>
          build-type: "referenceDiskManifestBuilderApp"
          matrix:
            parameters:
              branch-or-pr-build: [branch, pr]
