<configuration>

    <!-- default properties for FILEROLLER need to be set upfront -->

    <if condition='property("FILEROLLER_DIR").equals("")'>
     <then><property name="FILEROLLER_DIR" value="/var/log/cromwell" /></then>
    </if>

    <if condition='property("FILEROLLER_MAXHISTORY").equals("")'>
     <then> <property name="FILEROLLER_MAXHISTORY" value="30" /> </then>
    </if>

    <if condition='property("FILEROLLER_NAME").equals("")'>
     <then> <property name="FILEROLLER_NAME" value="cromwell.log" /> </then>
    </if>

  <if condition='property("LOG_MODE").toUpperCase().equals("STANDARD")'>
    <then>
      <appender name="STANDARD_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%date %X{sourceThread} %-5level - %msg%n</pattern>
        </encoder>
      </appender>
    </then>
    <else>
      <appender name="STANDARD_APPENDER" class="ch.qos.logback.core.helpers.NOPAppender" />
    </else>
  </if>

  <if condition='property("LOG_MODE").toUpperCase().equals("PRETTY")'>
    <then>
      <appender name="PRETTY_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
          <layout class="cromwell.logging.TerminalLayout" />
        </encoder>
      </appender>
      <logger name="liquibase" level="WARN"/>
    </then>
    <else>
      <appender name="PRETTY_APPENDER" class="ch.qos.logback.core.helpers.NOPAppender" />
    </else>
  </if>

  <if condition='property("LOG_MODE").toUpperCase().equals("FILEROLLER")'>
    <then>
      <appender name="FILEROLLER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">

      <file>${FILEROLLER_DIR}/${FILEROLLER_NAME}</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

      <if condition='isDefined("FILEROLLER_NAMEPATTERN")'>
      <then>
        <fileNamePattern>${FILEROLLER_DIR}/${FILEROLLER_NAMEPATTERN}-${FILEROLLER_NAME}</fileNamePattern>
      </then>
      <else>
         <fileNamePattern>${FILEROLLER_DIR}/%d{yyyyMMdd}-${FILEROLLER_NAME}</fileNamePattern>
      </else>
      </if>

      <maxHistory>${FILEROLLER_MAXHISTORY}</maxHistory>

      <if condition='isDefined("FILEROLLER_SIZECAP")'>
      <then>
         <totalSizeCap>${FILEROLLER_SIZECAP}</totalSizeCap>
      </then>
      </if>

      </rollingPolicy>
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
      </appender>
    </then>
    <else>
      <appender name="FILEROLLER_APPENDER" class="ch.qos.logback.core.helpers.NOPAppender" />
    </else>
  </if>

  <root level="${LOG_LEVEL}">
    <appender-ref ref="STANDARD_APPENDER" />
    <appender-ref ref="PRETTY_APPENDER" />
    <appender-ref ref="FILEROLLER_APPENDER" />
  </root>
  <logger name="com.zaxxer.hikari" level="ERROR"/>
  <logger name="HikariPool" level="ERROR"/>
  <logger name="com.google.cloud.hadoop.gcsio.GoogleCloudStorageReadChannel" level="ERROR"/>
</configuration>
