name: combine-scalasteward-prs

on:
  push:
  workflow_dispatch:
  # With a thousand thanks to Qi who showed us this in Leonardo: https://github.com/DataBiosphere/leonardo/pull/1975
  # Allows manually triggering of workflow on a selected branch via the GitHub Actions tab.
  # GitHub blog demo: https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Merge scala-steward PRs
        id: msp
        run: |
          export GITHUB_TOKEN=${{ secrets.BROADBOT_GITHUB_TOKEN }}
          git config user.name "broadbot"

          echo "Bringing in PRs:"
          gh pr list --limit 1000 | grep 'scala-steward:' | tac

          # 1000 is probably overkill, but it's still not _that_ much data to return.
          PR_LIST=$(gh pr list --limit 1000 | grep 'scala-steward:' | cut -d$'\t'  -f 1 | tac)
          BRANCH="consolidated-scala-steward-prs-$(date +'%Y-%m-%d_%H-%M')"

          SUCCESSFUL_PRS=()
          UNSUCCESSFUL_PRS=()

          git fetch
          git checkout develop
          git checkout -B $BRANCH

          while IFS= read -r pr
          do
            echo "Bringing in: $pr"
            git fetch origin pull/${pr}/head:pr_${pr}

            git rebase pr_${pr} $BRANCH && EXIT_CODE=$? || EXIT_CODE=$?

            if [ "${EXIT_CODE}" == "0" ]
            then
              SUCCESSFUL_PRS+=( "$pr" )
            else
              echo "Unexpected exit code: ${EXIT_CODE}"
              git rebase --abort
              UNSUCCESSFUL_PRS+=( "$pr" )
            fi
          done <<< "$PR_LIST"
          git checkout $BRANCH
          git push origin $BRANCH
          gh pr create --title '[!! NEEDS Jira ID !!] Scala-steward shepherding consolidation' --body "Consolidates scala-steward PRs ${SUCCESSFUL_PRS[*]}. Note that the following PRs were not able to be consolidated: ${UNSUCCESSFUL_PRS[*]}"
