# A github action to validate the name of a pull request contains a Jira tag:

name: Validate PR name

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  validate_pr_name:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        id: validate
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const title = context.payload.pull_request.title;
            const regex = /[A-Z][A-Z]+-\d+/;
            if (!regex.test(title)) {
              core.setFailed("PR title must contain a Jira tag");
            }
